.container-fluid{
    height: 70px;

}


#navbarNav{
    background-color: lightblue;
    justify-content: center;
    width: 500px;
    border-radius: 10px;
    height: 60px;
    
   

}

.nav-item {

}
.nav-link {
    color: black;
    font-weight: bold;


}